<div class="control-group">
  <% vals = generic_item[key] %>
  <% if !vals.nil? && !vals[0].nil? && vals[0]!="" %>
      <dt><%= get_label(key) %></dt>
      <% vals.to_ary.each_with_index do |v, index| %>
          <% if !v.nil? && v.length!=0 %>
              <% if key==:uniform_resource_locator %>
                  <dd><a target="_blank" href="<%= v %>"><%= v %></a></dd>

              <% else %>
                  <dd><%= v %></dd>

              <% end %>
          <% end %>
      <% end %>
  <% end %>


</div><!-- /control-group -->
